.idea/
Practice_myCompany/node_modules/
ToDoList/тз список дел.txt
Practice_myCompany/project.psd
Practice_myCompany/package-lock.json
Practice_myCompany/package.json
Practice_myCompany/gulpfile.js
Smart/node_modules/
Smart/.idea/