body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", monospace; }

header {
  background-color: #f5f5f5;
  width: 100%;
  height: 260px; }

.logo {
  cursor: pointer; }

.title-color {
  color: #fd8d77; }

.fs-50 {
  font-size: 50px;
  color: #565656;
  margin: 0;
  font-weight: 600; }

.text-color {
  color: #8a8a8a; }

.logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 80px; }

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

.header-container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hidden {
  display: none !important; }

.line {
  width: 34px;
  height: 20px;
  cursor: pointer; }

.line-2 {
  margin: 4px 0; }

.line div {
  height: 4px;
  width: 100%;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background: #706b73; }

nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: -270px;
  margin: 0 auto;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.top-66 {
  top: -66px !important; }

.nav-responsive {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  margin: 0 10px; }

.nav-responsive:hover {
  border-bottom: 2px solid #fa9179;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms; }

.send-message {
  background-color: #f5f5f5;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.send-message-title {
  margin: 0 auto;
  max-width: 720px;
  text-align: center; }

form {
  height: 390px;
  width: 370px;
  background: #fffffe;
  margin-top: 103px;
  -webkit-box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

form p {
  margin-top: 20px;
  font-size: 20px; }

form input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  height: 35px;
  font-size: 15px; }

form input::-webkit-input-placeholder {
  color: #8d8d8d; }

form input::-moz-placeholder {
  color: #8d8d8d; }

form input:-ms-input-placeholder {
  color: #8d8d8d; }

form input::-ms-input-placeholder {
  color: #8d8d8d; }

form input::placeholder {
  color: #8d8d8d; }

form input[type=submit] {
  background-color: #ff5c36;
  height: 55px;
  width: 240px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #ffd6cd;
  margin-bottom: 20px;
  cursor: pointer; }

form label {
  color: #8d8d8d;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-left: 10%;
  font-size: 15px; }

.working-title {
  margin: 130px auto 0;
  text-align: center; }

.bg-mag {
  background: #4eb2f7; }

.bg-bug {
  background: #c049f8; }

.bg-setting {
  background: #817eff; }

.bg-image {
  background: #f74770; }

.cards {
  margin-top: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 263px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 60px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.card img {
  margin-top: 50px; }

.card h1 {
  color: #edd3fd;
  margin: 20px 0 0 0; }

.card p {
  width: 80%;
  text-align: center;
  color: #edd3fd;
  margin: 0; }

.card-btn {
  position: relative;
  height: 56px;
  width: 80%;
  background-color: #ffffff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  top: 28px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border: 1px solid #f7f7f7; }

.card-btn:hover, .card:hover {
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2); }

.card-btn span {
  color: #999999; }

.featured-works {
  background-color: #fbfbfb;
  padding-bottom: 200px; }

.featured-works-title {
  margin-top: 250px;
  text-align: center; }

.featured-works-card {
  width: 360px;
  height: 360px;
  overflow: hidden;
  margin-bottom: 22px; }

.featured-works-card img {
  -o-object-fit: cover;
     object-fit: cover; }

.services-we-provide {
  background-color: #fbfbfb; }

.services-we-provide-title {
  text-align: center;
  padding-top: 90px;
  margin-bottom: 130px; }

.services-we-provide-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 104px;
  height: 390px;
  margin-right: 125px; }

.services-btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 106px;
  border: 1px solid #f7f7f7;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  cursor: pointer; }

.services-btn-container img {
  height: 66px;
  margin: 20px 0 0 10px; }

.services-btn-container:hover {
  -webkit-box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.2); }

.services-we-provide-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px; }

.services-line {
  width: 57px;
  height: 3px;
  background-color: #ff5c36; }

.btn-w {
  width: 240px;
  position: relative;
  bottom: 10px; }

.services-info-descr_img {
  height: 390px; }

.services-info-descr-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team-chinen-skills {
  background-color: #fbfbfb; }

.team-title {
  text-align: center;
  padding-top: 150px;
  margin-bottom: 125px; }

progress {
  width: 151px;
  height: 4px;
  border: none;
  background: #ff6e47; }

progress::-webkit-progress-value {
  background: #ff6e47; }

progress::-moz-progress-bar {
  background: #ff6e47; }

.team-container {
  margin-bottom: 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team-card {
  position: relative;
  height: 445px;
  width: 360px;
  background-color: #fff3f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.11); }

.team-orange-bg {
  height: 445px;
  width: 360px;
  z-index: 1;
  background-color: #ff5c36;
  position: absolute;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.team-orange-bg-h-0 {
  height: 0 !important; }

.team-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px; }

.team-social img {
  cursor: pointer; }

.team-card-stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 170px; }

.team-card-stats p {
  font-size: 11px;
  text-align: center;
  margin-bottom: 4px; }

.team-card-name {
  width: 262px;
  height: 95px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
  top: 82px;
  z-index: 5;
  background-color: #ffffff;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out; }

.team-card-name-top {
  top: 10px !important;
  background-color: #fff3f0; }

.team-card-name p {
  font-size: 30px;
  font-weight: 600;
  margin: 22px 0 0; }

.team-card-name span {
  font-size: 17px;
  font-weight: 300;
  color: #ffa490;
  margin: 0; }

/*************PARTNERS********************** */
.partners {
  background-color: #fbfbfb; }

.partners-container {
  padding: 75px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.partners-container img {
  height: 29px;
  opacity: 0.4; }

/******************FOOTER******************** */
footer {
  background-color: #f7f7f7; }

.footer-contact {
  padding-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-contact input {
  height: 55px;
  width: 240px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin-bottom: 50px;
  cursor: pointer; }

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 530px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #898989; }

.footer-social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px; }

.footer-social-container {
  height: 52px;
  width: 52px;
  background-color: #d3d3d3;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
  cursor: pointer; }

.footer-social-container:hover {
  -webkit-box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.29);
          box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.29);
  background-color: #ff6e47; }

.clients-said {
  background-color: #ffffff; }

.client-title {
  padding-top: 130px;
  text-align: center;
  margin-bottom: 72px; }

.clients-slider {
  margin: 0 auto -10px;
  width: 1152px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.slider-arr {
  height: 48px;
  width: 48px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  cursor: pointer;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none; }

.right {
  right: -20px;
  top: 178px;
  position: absolute;
  z-index: 1; }

.left {
  left: -20px;
  top: 178px;
  position: absolute;
  z-index: 1; }

.slider-arr:hover {
  background-color: #ff6e47;
  -webkit-box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.28); }

.slider-lines {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px; }

.slider-line {
  width: 18px;
  height: 6px;
  background-color: #e0e0e0;
  margin: 0 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: background-color 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out; }

.line-bg {
  background-color: #ff6e47; }

.client-feedbacks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 0; }

.client-feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  height: 270px;
  text-align: center;
  font-family: "Source Sans Pro", monospace;
  font-size: 17px;
  -webkit-box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.09);
  margin: 0 20px; }

.client-feedback:hover {
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.hidden-feedback {
  display: none !important; }

.scale {
  position: relative;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out; }

.anim-left {
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

.anim-right {
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

.client-photo {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 1px solid #d6d6d6;
  position: relative;
  top: -55px;
  background-color: #ffffff; }

.client-feedback-text {
  height: 150px;
  width: 456px;
  position: relative;
  top: -25px; }

.client-name {
  font-weight: 600; }

.client-position {
  font-weight: 300;
  font-style: italic; }

/*******************MEDIA********************/
@media screen and (max-width: 1410px) {
  .card {
    margin: 0 83px 60px; }
  .team-card {
    width: 266px;
    height: 355px; }
  .team-orange-bg {
    width: 266px;
    height: 355px; }
  .team-card-name {
    width: 190px; }
  .team-card-stats {
    margin-top: 82px; }
  .services-we-provide-info {
    margin-bottom: 80px; }
  .client-title {
    padding-top: 90px;
    margin-bottom: 50px; }
  .clients-slider {
    width: 867px; }
  .client-feedback {
    width: 393px; }
  .client-feedback-text {
    width: 350px; }
  .slider-lines {
    margin-bottom: 140px; }
  .featured-works {
    padding-bottom: 150px; } }

@media screen and (max-width: 1100px) {
  .card {
    margin: 0 25px 60px; }
  .services-we-provide-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services-we-provide-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 104px;
    margin: 0 auto; }
  .services-info-descr-slide {
    margin-top: 50px; }
  .team-title {
    padding-top: 50px;
    margin-bottom: 100px; }
  .team-card-stats {
    margin-top: 80px; }
  .client-feedback {
    width: 600px; }
  .clients-slider {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 780px; }
  .right {
    right: 52px; }
  .left {
    left: 52px; } }

@media screen and (max-width: 1010px) {
  .team-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .team-card {
    height: 445px;
    width: 360px; }
  .team-orange-bg {
    height: 445px;
    width: 360px; }
  .team-card {
    margin: 0 auto 50px; }
  .team-card-name {
    width: 262px;
    top: 127px; }
  .partners-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 70px 0; }
  .partners-container img {
    margin: 5px 50px; }
  .clients-slider {
    width: 684px; }
  .right {
    right: 6px; }
  .left {
    left: 6px; } }

@media screen and (max-width: 850px) {
  .wrapper {
    width: 90%; }
  .nav-responsive {
    font-size: 16px; }
  .fs-50 {
    font-size: 40px; }
  .card {
    margin: 0 10px 60px; }
  .featured-works-card {
    margin: 0 auto 22px; }
  .featured-works-title {
    margin-top: 80px; }
  .services-we-provide-title {
    padding-top: 50px;
    margin-bottom: 40px; }
  .services-info-descr-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .team-container {
    margin-bottom: 50px; }
  .btn-w {
    margin: 0 auto 40px; }
  .services-info-descr_img {
    left: 0; }
  .partners-container img {
    margin: 5px 35px; }
  .clients-slider {
    width: 570px; }
  .right {
    right: 0; }
  .left {
    left: 0; }
  .client-feedback {
    width: 500px; } }

@media screen and (max-width: 640px) {
  .logo-wrapper {
    padding-top: 30px; }
  .header-container {
    height: 277px; }
  .nav-responsive {
    margin: 5px auto; }
  .card {
    margin: 0 auto 60px; }
  .line {
    display: none !important; }
  nav {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -18px !important; }
  form input {
    font-size: 20px; }
  form label {
    font-size: 20px; }
  .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-social-container {
    margin-bottom: 10px; }
  .clients-slider {
    width: 454px; }
  .right {
    right: -26px; }
  .left {
    left: -26px; }
  .client-feedback {
    width: 440px; } }

@media screen and (max-width: 520px) {
  .send-message-title {
    padding-top: 20px; }
  form {
    width: 100%;
    margin-top: 50px; }
  .team-card {
    height: 365px;
    width: 266px; }
  .team-orange-bg {
    height: 365px;
    width: 266px; }
  .services-we-provide-info {
    margin-bottom: 10px; }
  .team-card-name {
    width: 190px;
    top: 89px; }
  .services-btn-container img {
    height: 40px; }
  .services-info-descr-slide {
    margin-top: 10px; }
  .partners-container img {
    margin: 5px auto; }
  .clients-slider {
    width: 336px; }
  .right {
    right: -11px; }
  .left {
    left: -11px; }
  .client-feedback {
    width: 300px; }
  .client-feedback-text {
    width: 300px; }
  .slider-lines {
    margin-bottom: 40px; }
  .slider-arr {
    background-color: transparent; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  100% {
    left: -1000px; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  100% {
    left: -1000px; } }

@-webkit-keyframes moveRight {
  0% {
    right: 0; }
  100% {
    right: -1000px; } }

@keyframes moveRight {
  0% {
    right: 0; }
  100% {
    right: -1000px; } }
